<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveau Cours Disponible</title>
</head>
<body>
    <p>Un nouveau cours a été ajouté sur notre plateforme :</p>
    <p>Connectez-vous pour en savoir plus !</p>
</body>
</html>
