{% extends 'base.html.twig' %}

{% block title %}Edit Blog{% endblock %}

{% block body %}
    <div class="container mt-5 pt-5">
        <div class="card p-4 shadow-lg mx-auto" style="max-width: 900px;">
            <h1 class="text-center mb-4 text-warning">Edit Blog</h1>

            {{ include('blog/_form.html.twig', {'button_label': 'Update'}) }}

            <div class="text-center mt-4">
                <a href="{{ path('app_blog_index') }}" class="btn btn-secondary btn-sm">Back to List</a>
            </div>

            {{ include('blog/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
